/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
    margin: 0;
    font-family: Roboto, sans-serif;
}

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container{
    max-width: 1060px;
    margin: 0 auto;
    padding: 15px;
    min-height: 450px;
}
